<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" >PayGenix</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink=""  routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/app-register" routerLinkActive="active">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/app-login"  routerLinkActive="active">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/app-admin-dashboard"  routerLinkActive="active">Admin DashBoard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/app-self-service-portal"  routerLinkActive="active">Emp Self-service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/app-manager-dashboard"  routerLinkActive="active">Manager Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/app-payroll-dashboard"  routerLinkActive="active">Payroll Processor Dashboard</a>
          </li> 
          <!-- <li class="nav-item">
            <a class="nav-link"  routerLink="/app-personal-information"  routerLinkActive="active">Personal Info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/app-leaverequest"  routerLinkActive="active">LeaveRequest</a>
          </li> -->
         
        </ul>
      </div>
    </div>
</nav>
