<!-- <app-header></app-header>
<div class="container text-center my-5">
  <h1 class="mb-4 animated-heading">Welcome to PayGenix</h1>
</div>
<app-footer></app-footer> -->

<app-header></app-header>
<div class="landing-page">
  <div class="container text-center">
    <h1 class="mb-4 animated-heading">Welcome to PayGenix</h1>
    <p class="lead">Your trusted payroll and compliance management system.</p>
    <button class="btn btn-primary btn-lg mt-3" (click)="login()">Get Started</button>
  </div>
</div>
<app-footer></app-footer>



<!-- https://www.shutterstock.com/shutterstock/photos/1492866173/display_1500/stock-vector--website-or-landing-page-vector-payroll-salary-payment-with-tiny-people-character-concept-vector-1492866173.jpg -->